@page
@model WebApplication1.Pages.AfterLogin.ProfessorModel
@{
    Layout = "_ProfessorLayout";
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p><a asp-page="/ShowResults/ShowProfessor" asp-route-id="@Model.Professor?.EntityPersonID">Show Profile</a>.</p>
</div>

<div class="text-center">
    <p><a asp-page="/EditElement/EditPerson/EditProfessor" asp-route-id="@Model.Professor?.EntityPersonID">Edit Profile</a>.</p>
</div>