@page
@model WebApplication1.Pages.AfterLogin.ProfessorModel
@{
    Layout = "_ProfessorLayout";
}

<div class="text-center">
    <p><a asp-page="/ShowResults/ShowProfessor" asp-route-idCode="@Model.Professor.IdCode">Show Profile</a>.</p>
</div>

<div class="text-center">
    <p><a asp-page="/EditElement/EditPerson/EditProfessor" asp-route-idCode="@Model.Professor.IdCode">Edit Profile</a>.</p>
</div>