@page
@model WebApplication1.Pages.AfterLogin.ProfessorModel
@{
    Layout = "_ProfessorLayout";
}

<div class="text-center">
    <p><a asp-page="/AfterLogin/Professor">Show Profile</a>.</p>
</div>

<div class="text-center">
    <p><a asp-page="/AfterLogin/Professor">Edit Profile</a>.</p>
</div>

@*<div class="text-center">
    <p><a asp-page="/AfterLogin/Professor">Show courses</a>.</p>
</div>*@

<div class="text-center">
    <p><a asp-page="/AfterLogin/Professor">Send a message</a>.</p>
</div>