@page
@model WebApplication1.Pages.AfterLogin.StudentModel
@{
    Layout = "_StudentLayout";
}

<div class="text-center">
    <p><a asp-page="/AfterLogin/Student">Show Profile</a>.</p>
</div>

<div class="text-center">
    <p><a asp-page="/AfterLogin/Student">Edit Profile</a>.</p>
</div>

<div class="text-center">
    <p><a asp-page="/AfterLogin/Student">Show courses</a>.</p>
</div>

<div class="text-center">
    <p><a asp-page="/AfterLogin/Student">Send a message</a>.</p>
</div>