@page
@model WebApplication1.Pages.AfterLogin.StudentModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <p><a asp-page="/ShowResults/ShowStudent" asp-route-id="@Model.Student?.EntityPersonID">Show Profile</a>.</p>
</div>

<div class="text-center">
    <p><a asp-page="/EditElement/EditPerson/EditStudent" asp-route-id="@Model.Student?.EntityPersonID">Edit Profile</a>.</p>
</div>
