@page "{id}"
@model WebApplication1.Pages.EditElement.EditPerson.EditProfessorModel
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Edit Professor";
}


<input type="hidden" asp-for="Professor.EntityPersonID" />
<input type="hidden" asp-for="Professor.ApplicationUserId" />

@await Html.PartialAsync("_PersonalDataPartial", Model.PersonalData)

<div class="form-group">
    <label asp-for="Professor.IdCode"></label>
    <div>
        @Html.TextBoxFor(m => m.Professor.IdCode, new { @readonly = "readonly" })
    </div>
</div>
<div class="form-group">
    <label asp-for="Professor.Subject"></label>
    <input class="form-control" asp-for="Professor.Subject" />
    <span asp-validation-for="Professor.Subject"></span>
</div>
<div class="form-group">
    <label asp-for="Professor.FirstDayAtJob"></label>
    <input class="form-control" type="date" asp-for="Professor.FirstDayAtJob" />
    <span asp-validation-for="Professor.FirstDayAtJob"></span>
</div>
<div class="form-group">
    <label asp-for="Professor.Salary"></label>
    <input class="form-control" asp-for="Professor.Salary" />
    <span asp-validation-for="Professor.Salary"></span>
</div>


