@page "{id}"
@model WebApplication1.Pages.EditElement.EditPerson.EditStudentModel
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Edit Student";
}

@section styles{
    <link rel="Stylesheet" href="~/css/formPage_v2.css" />
}

<input type="hidden" asp-for="Student.EntityPersonID" />

@await Html.PartialAsync("_PersonalDataPartial", Model.PersonalData)

<div class="form-group">
    <label asp-for="Student.Index"></label>
    @Html.TextBoxFor(m => m.Student.Index, new { @readonly = "readonly" })
</div>
<div class="form-group outer-select-container">
    <label>Courses</label>
    <div class="select-container course-select-container">
            <select asp-for="SelectedCourses" asp-items="Model.AvailableCourses">
            </select>
        </div>
    <a asp-page="/NewElement/NewCourse">Create a new course</a>
</div>
<div class="form-group">
    <label asp-for="Student.BeginningOfStudying"></label>
    <input class="form-control" type="date" asp-for="Student.BeginningOfStudying" />
    <span asp-validation-for="Student.BeginningOfStudying"></span>
</div>