<a class="navbar-brand" asp-area="" asp-page="/AfterLogin/Professor">WebApplication1</a>
<div class="navbar-elements">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/AfterLogin/Professor">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ShowResults/ShowProfessor" asp-route-id="@User.FindFirst("EntityPersonId")?.Value">Show Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/ShowResults/ShowProfessorCourses">Your courses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="/Notifications">Notifications</a>
        </li>
    </ul>
    <partial name="_LoginPartial" />
</div>