@page
@model WebApplication1.Pages.NewPerson.NewProfessorModel
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "New Professor";
}

@section styles{
    <link rel="Stylesheet" href="~/css/formPage.css" />
}

<div class="form-group">
    <label>Account</label>

    <div class="select-container">
        @Html.DropDownListFor(model => model.ApplicationUserId, Model.ApplicationUsers, "choose account")
    </div>
    <span asp-validation-for="ApplicationUserId"></span>
</div>

@await Html.PartialAsync("_PersonalDataPartial", Model.PersonalData)

<div class="form-group">
    <label asp-for="Professor.IdCode"></label>
    <input class="form-control" asp-for="Professor.IdCode" />
    <span asp-validation-for="Professor.IdCode"></span>
</div>

<div class="form-group">
    <label asp-for="Professor.Subject"></label>
    <input class="form-control" asp-for="Professor.Subject" />
    <span asp-validation-for="Professor.Subject"></span>
</div>

<div class="form-group">
    <label asp-for="Professor.FirstDayAtJob"></label>
    <input class="form-control" type="date" asp-for="Professor.FirstDayAtJob" />
    <span asp-validation-for="Professor.FirstDayAtJob"></span>
</div>

<div class="form-group">
    <label asp-for="Professor.Salary"></label>
    <input class="form-control" asp-for="Professor.Salary" />
    <span asp-validation-for="Professor.Salary"></span>
</div>
