@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section styles{
    <link rel="Stylesheet" href="~/css/loginPage.css" />
}

<div class="top-login-container" id="top-login-container">
    <div class="slide-container">
        <div class="form-container sign-in-container">
            <form id ="account" method="post">
                <h1>Good to see you!</h1>
                <p>Sign in to continue your work.</p>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <input asp-for="Input.Email" placeholder="Email" autocomplete="username" aria-required="true">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
                <input asp-for="Input.Password" placeholder="Password" autocomplete="current-password" aria-required="true">
                <span asp-validation-for="Input.Password" class="text-danger"></span>
                <div class="remember-forgot">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe" />
                        Remember me?
                    </label>
                    <span id="forgot-password-text">Forgot Your password?</span>
                </div>
                <button id="login-submit" type="submit">Sign in</button>
            </form>
        </div>
        <div class="form-container password-forgot-container">
            <div class="form-and-return">
                <form>
                    <h1>Enter Your email</h1>
                    <p>We will send You a reset link</p>
                    <input type="email" placeholder="Email">
                    <button id="send-button">Send</button>
                </form>
                <div class="horizontal-buttons">
                    <button id="back-button">Back</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="~/js/loginPage.js"></script>
}