@page
@model WebApplication1.Pages.NewCourseModel
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "New Course";
}

@section styles{
    <link rel="Stylesheet" href="~/css/formPage_v2.css" />
}

<div class="form-group">
    <label asp-for="CreatedCourse.Name"></label>
    <input class="form-control" asp-for="CreatedCourse.Name" />
    <span asp-validation-for="CreatedCourse.Name"></span>
</div>
<div class="form-group">
    <label asp-for="CreatedCourse.CourseCode"></label>
    <input class="form-control" asp-for="CreatedCourse.CourseCode" />
    <span asp-validation-for="CreatedCourse.CourseCode"></span>
</div>
<div class="form-group outer-select-container">
    <label>Professor</label>
    <div class="select-container">
        @Html.DropDownListFor(model => model.ProfessorId, Model.CreatedProfessors, "Choose a professor")
    </div>
    <span asp-validation-for="ProfessorId"></span>
    <a asp-page="/NewElement/NewPerson/NewProfessor">Create a new professor</a>
</div>
<div class="form-group">
    <label asp-for="CreatedCourse.ECTS"></label>
    <input class="form-control" asp-for="CreatedCourse.ECTS" />
    <span asp-validation-for="CreatedCourse.ECTS"></span>
</div>
<div class="form-group checkbox-group">
    <label asp-for="CreatedCourse.IsFinishedWithExam"></label>
    <input class="form-control" asp-for="CreatedCourse.IsFinishedWithExam" />
    <span asp-validation-for="CreatedCourse.IsFinishedWithExam"></span>
</div>
