@using WebApplication1.HtmlHelpers;
@{
    Layout = Html.GetLayoutForUser(Context.User);
}
<form method="post">
    @RenderBody()
    <div class="form-group">
        <button type="submit"
                class="btn btn-success">
                Submit
        </button>
    </div>
</form>

