@using WebApplication1.HtmlHelpers;
@{
    Layout = Html.GetLayoutForUser(Context.User);
}
<div class="outer-form-container">
    <form method="post">
        @RenderBody()
        <div class="form-group">
            <button type="submit"
                    class="btn btn-success">
                Submit
            </button>
        </div>
    </form>
</div>


