@model Dictionary<string, string>

<p>
    <a asp-page="/Index">Return</a>
</p>
<table class="table">
    @foreach (KeyValuePair<string, string> kvp in Model)
    {
        <tr>
            <td>
                @kvp.Key
            </td>
            <td>
                @kvp.Value
            </td>
        </tr>
    }
</table>
