@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>This page was created only for educational purposes</h2>
<p>Icons used:</p>
<a href="https://www.flaticon.com/free-icons/student" title="student icons">Student icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/professor" title="professor icons">Professor icons created by surang - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/course" title="course icons">Course icons created by Freepik - Flaticon</a>
<a href="https://www.flaticon.com/free-icons/letter" title="letter icons">Letter icons created by Arkinasi - Flaticon</a>