@page
@model WebApplication1.Pages.Errors._404Model
@{
    ViewData["Title"] = "Not found";
}


<h1>404 Not found</h1>
<p>Sorry, page with this address was not found. Make sure the address is correct</p>

