.outer-form-container {
    width: 90%;
    border-radius: 20px;
    min-width: 500px;

    background-color: lightgray;
}

.outer-form-container .form-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.outer-form-container .form-group {
    margin: 30px 20px;
    display: flex;
    flex-direction: column;
}

.outer-form-container .form-group label {
    color: black;
    font-size: 20px;
    padding-bottom: 5px
}

.outer-form-container .select-container select {
    width: 100%;
}

.outer-form-container .form-group input, select {
    font-size: 14px;
    padding: 8px;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 300px;
}

.outer-form-container form .button-group {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
}

.outer-form-container form button {
    background-color: limegreen;
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 30px;
    margin-top: 0px;
    font-size: 20px;
    width: 40%;
    cursor: pointer;
}

.single-result {
    min-width: 400px;
    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.65);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.6px);
    -webkit-backdrop-filter: blur(5.6px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.single-result h1 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 28px;
}

.single-result .key-value-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid gray 2px;
}

.single-result a {
    text-decoration: none;
    color: navy;
}

    .single-result a:hover {
        text-decoration: underline;
    }

.single-result .key-table-result {
    padding: 20px 0px;
}

.single-result .table-container {
    overflow: auto;
    max-height: 100px;
}

.single-result table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
    overflow: auto;
    max-height: 50px;
}

.single-result table th, td {
    text-align: left;
}


@media (max-width: 1100px) {
    .outer-form-container {
        width: 90%;
        max-width: 600px;
    }
    .outer-form-container .form-inputs {
        flex-direction: column;
    }

    .outer-form-container .form-group {
        margin: 10px;
        width: 100%;
        padding: 0 10px;
    }

    .outer-form-container .form-group label {
        padding-bottom: 2px
    }

    .outer-form-container .form-group input, select {
        width: 100%;
    }

    .outer-form-container form button {
        margin-top: 20px;
    }
}