@page "{gradeId}"
@model WebApplication1.Pages.Grades.EditGradeModel
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Edit Grade";
}

@section styles{
    <link rel="Stylesheet" href="~/css/formPage_v2.css" />
}

<input type="hidden" asp-for="Grade.GradeId" />
<input type="hidden" asp-for="Grade.CourseId" />

<div class="form-group">
    <label asp-for="Student.PersonalData.FirstName"></label>
    @Html.TextBoxFor(m => m.Student.PersonalData.FirstName, new { @readonly = "readonly" })
</div>
<div class="form-group">
    <label asp-for="Student.PersonalData.LastName"></label>
    @Html.TextBoxFor(m => m.Student.PersonalData.LastName, new { @readonly = "readonly" })
</div>
<div class="form-group">
    <label asp-for="Student.Index"></label>
    @Html.TextBoxFor(m => m.Student.Index, new { @readonly = "readonly" })
</div>
<div class="form-group">
    <label asp-for="Grade.GradeValue">Grade</label>
    <input class="form-control" asp-for="Grade.GradeValue" />
    <span asp-validation-for="Grade.GradeValue"></span>
</div>
